h2{
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
button{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: none;
    padding: 10px;
    margin: auto;
    width: 150px;
    background: none;


}
button:hover{
    color: red;
}
div{
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: 50px;
    overflow:"scroll;
    text-align: center;
}
p{
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    height: 50%;
}
